# Ignore environment files with secrets
.env

# Binaries, vendor, editor files
bin/
vendor/
.DS_Store
.idea/
.vscode/
# Binarios
/main

# Dependencias de Go
# (go.sum se elimina de la lista de ignorados para que se commitee)

# Archivos de entorno
.env
